.popup-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 16px 0px;
}

.popup-content-text {
  font-size: 16px;
  color: #333;
  text-align: center;
  padding-bottom: 15px;
}

.popup-cancel-button {
  background-color: #f5f5f5;
  color: #333;
  border: none;
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.popup-cancel-button:hover {
  background-color: #9e8585;
}

.popup-order-button {
  background-color: #17275f;
  color: #ffffff;
  border: none;
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.popup-order-button:hover {
  background-color: #0e1a40;
}

/* Adjust spacing and positioning */
.MuiDialogContent-root {
  padding: 20px 24px;
}

.MuiDialogActions-root {
  padding: 16px;
}
